/* src/components/layout/layout.css */
.navbar {
  background: #333;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.content-wrapper {
  display: flex;
}

.main-content {
  flex: 1;
  margin: auto 180px;
  padding: 24px;
}

@media (max-width: 1200px) {
  .main-content {
    margin: auto 80px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin: auto;
  }
}
