.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  margin-right: 40px;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: blue;
}
