.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container-itens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.container-input label {
  font-size: 16px;
  margin-bottom: 8px;
}

.container-input input,
.container-input select {
  padding: 8px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--bg-secondary);
  color: var(--text-color);
}

.container {
  width: 100%;
}

.container-input textarea {
  padding: 8px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--bg-secondary);
  resize: vertical;
  min-height: 150px;
  color: var(--text-color);
}

.form button {
  padding: 12px 24px;
  background: var(--primary-color);
  color: var(--text-secondary);
  border: none;
  border-radius: 24px;
  width: 100%;
}

.form button:hover {
  background: var(--primary-hover-color);
}

.success {
  color: #ffffff;
  background: green;
  font-weight: 700;
  padding: 10px;
  margin: 24px 0;
  border-radius: 8px;
  text-align: center;
}

.error {
  color: #ffffff;
  background: red;
  font-weight: 700;
  padding: 10px;
  margin: 24px 0;
  border-radius: 8px;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 24px;
}

.dados-execusao {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.execucao-item {
  background-color: var(--bg-secondary);
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}

.execucao-item strong {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.execucao-item p {
  font-size: 40px;
  margin: 0;
}
